.box {
    display: flex;
    
}

.mainBox {
    display:flex;
    border: solid blue;
    width: 500px;
}

.avatarHolder {
    width: 120px;
}

.userAvatar {
    width: 100%
}

.scoreHolder{
    background-color: salmon;
    height: 60px;
    padding: .4em;
    border-radius: 70px;
    margin-left: 0.8em;
    margin-top: 2.5em;
   

}

